*{

    padding:0;
    margin:0;
    box-sizing:border-box;
}


.container{

  border:2px solid grey;
  /* margin:5rem 17rem 0rem 17rem; */
  box-sizing:border-box;
  /* border-radius: 10%; */
  /* position:fixed; */
    width:33vw;
    height:76vh;
    margin: auto;
    margin-top:5rem;

  
}
.container h1{
    text-align:center;

    font-size:2rem;
    font-weight:500;
    color:rgb(92, 204, 47);
   
    
    
}
.container form{

display:flex;
flex-direction:column;
padding:1.5rem 1.5rem 1.5rem 1.5rem;


}
.checkbox{
    display:flex;
    justify-content: space-evenly;
    font-size: large;
    margin-top:0.3rem;
    margin-bottom:0.3rem;
}

form input{

    padding:0.5rem;
    margin:0.3rem 0rem 0.3rem 0rem;
    border-radius: 4px;
}
form label{
    font-size:large;
}

@media(max-width:700px){

    .container{

          width:75vw;
          /* height:75vh; */
        margin-top:3rem;
      
        
      }

}